[submodule "PathExtra"]
	path = PathExtra
	url = https://github.com/tkurita/PathExtra.git
[submodule "DonationReminder"]
	path = DonationReminder
	url = https://github.com/tkurita/DonationReminder.git
[submodule "LibraryScripts/FinderSelection.scptd"]
	path = LibraryScripts/FinderSelection.scptd
	url = https://github.com/tkurita/FinderSelection.scptd.git
[submodule "LibraryScripts/GUIScriptingChecker.scptd"]
	path = LibraryScripts/GUIScriptingChecker.scptd
	url = https://github.com/tkurita/GUIScriptingChecker.scptd.git
[submodule "LibraryScripts/XFile.scptd"]
	path = LibraryScripts/XFile.scptd
	url = https://github.com/tkurita/XFile.scptd.git
[submodule "LibraryScripts/XText.scptd"]
	path = LibraryScripts/XText.scptd
	url = https://github.com/tkurita/XText.scptd.git
[submodule "LibraryScripts/XList.scptd"]
	path = LibraryScripts/XList.scptd
	url = https://github.com/tkurita/XList.scptd.git
[submodule "LibraryScripts/TerminalCommander.scptd"]
	path = LibraryScripts/TerminalCommander.scptd
	url = https://github.com/tkurita/TerminalCommander.scptd.git
[submodule "LibraryScripts/InsertionLocator.scptd"]
	path = LibraryScripts/InsertionLocator.scptd
	url = https://github.com/tkurita/InsertionLocator.scptd.git
[submodule "LibraryScripts/PathInfo.scptd"]
	path = LibraryScripts/PathInfo.scptd
	url = https://github.com/tkurita/PathInfo.scptd.git
[submodule "TXFrontAccess"]
	path = TXFrontAccess
	url = https://github.com/tkurita/TXFrontAccess.git
[submodule "NSRunningApplication-SmartActivate"]
	path = NSRunningApplication-SmartActivate
	url = http://github.com/tkurita/NSRunningApplication-SmartActivate.git
[submodule "GUIScriptingChecker"]
	path = GUIScriptingChecker
	url = http://github.com/tkurita/GUIScriptingChecker.git
